
body {
    --background-image: none;
    --background-color: #e3e3e3;
}
body {
    color: var(--color);
}
body, p, h1, h2, h3, h4, h5, h6, em, ol, ul, li, tr, th, td, dl, img, ins, sub, sup, big, cite, code, form, small, label, table, figure, button, legend, strike, address, caption, fieldset, blockquote {
    margin: 0;
    padding: 0;
    border: none;
    font-size: inherit;
    text-align: inherit;
    line-height: inherit;
}
body {
    overflow-x: hidden;
    overflow-wrap: break-word;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
*, *::before, *::after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body:not(.ct-loading) .ct-panel {
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.ct-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 999999;
    top: calc(var(--admin-bar, 0px));
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    content-visibility: auto;
}

element.style {
}
[data-header*="type-1"] #account-modal {
    --background-image: none;
    --background-color: rgba(18, 21, 25, 0.7);
}
#account-modal {
    --horizontal-alignment: center;
    --vertical-alignment: center;
}
[data-header*="type-1"] {
    --headerHeight: 125px;
    --headerStickyHeight: 45px;
}

:root {
    --fontFamily: Roboto, Sans-Serif;
    --fontWeight: 400;
    --textTransform: capitalize;
    --textDecoration: none;
    --fontSize: 17px;
    --lineHeight: 1.65;
    --letterSpacing: 0em;
    --buttonFontFamily: Roboto, Sans-Serif;
    --buttonFontWeight: 500;
    --buttonFontSize: 15px;
    --star-rating-initial-color: #b89f5d;
    --star-rating-inactive-color: #f6f6f8;
    --badge-text-color: #f6f6f8;
    --badge-background-color: #b89f5d;
    --has-classic-forms: var(--false);
    --has-modern-forms: var(--true);
    --form-text-initial-color: var(--paletteColor3);
    --form-text-focus-color: var(--paletteColor3);
    --form-field-border-initial-color: #f6f6f8;
    --form-field-border-focus-color: #b89f5d;
    --form-field-border-width: 0 0 2px 0;
    --radioCheckboxInitialColor: var(--border-color);
    --radioCheckboxAccentColor: var(--paletteColor1);
    --paletteColor1: #ffcd05;
}
:root {
    --page-title-display: block;
}
:root {
    --e-global-color-blocksy_palette_1: var(--paletteColor1);
    --e-global-color-blocksy_palette_2: var(--paletteColor2);
    --e-global-color-blocksy_palette_3: var(--paletteColor3);
    --e-global-color-blocksy_palette_4: var(--paletteColor4);
    --e-global-color-blocksy_palette_5: var(--paletteColor5);
    --e-global-color-blocksy_palette_6: var(--paletteColor6);
    --e-global-color-blocksy_palette_7: var(--paletteColor7);
    --e-global-color-blocksy_palette_8: var(--paletteColor8);
}
@media (min-width: 690px)
:root {
    --container-width: calc(90vw - var(--frame-size, 0px) * 2);
}
:root {
    --default-editor: var(--true);
    --border: none;
    --transition: all 0.12s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --listIndent: 2.5em;
    --listItemSpacing: 0.3em;
    --true: initial;
    --false: "";
    --has-background: var(--true);
    --has-link-decoration: var(--true);
    --has-transparent-header: 0;
}
html, h1, h2, h3, h4, h5, h6, pre, kbd, code, samp, label, figcaption, blockquote, blockquote p, .price, .menu a, .ct-label, .site-title, .entry-meta, .widget-title, .contact-info, .ct-item-title, .ct-menu-badge, .entry-excerpt, .ct-post-title, .ct-breadcrumbs, .ct-header-text, .site-description, .page-description, .mobile-menu ul a, .comment-reply-title, .ct-footer-copyright, .ct-language-switcher, .entry-summary .price, .woocommerce-tabs .tabs, .ct-language-switcher ul[data-placement], .ct-widget>*:not(.widget-title) {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
    font-weight: var(--fontWeight);
    font-style: var(--fontStyle, inherit);
    line-height: var(--lineHeight);
    letter-spacing: var(--letterSpacing);
    text-transform: var(--textTransform);
    -webkit-text-decoration: var(--textDecoration);
    text-decoration: var(--textDecoration);
}
html {
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    scroll-behavior: smooth;
}
*, *::before, *::after {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: border-box;
}
